* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    height: 1200px;
    width: 100%;
}

.container h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.screen h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.screen {
      height: 700px;
      width: 700px;
      box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
      margin-top: 120px;
      justify-content: center;
      margin-left: 600px;
      perspective: 600px;
}

.inner-content {
    width: 100%;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    backface-visibility: hidden;
}

.sign-up, .login {
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: linear-gradient(rgba(0,100,0,0.7),rgba(0,100,0,0.7)),url(/images/driver.png);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.inner-content h2 {
       font-weight: bold;
       font-size: 60px;
       text-align: center;
       margin-bottom: 20px;
       margin-top: 40px;

}

.inner-content .user-input {
     width: 80%;
     background: transparent;
     border: 1px solid #fff;
     margin: 40px 70px;
     height: 45px;
     border-radius: 20px;
     outline: none;
     text-align: center !important;
     color: #fff;
     font-size: 20px;
}

.sign-up form ::placeholder {
    color: #ffffff;
}

.screen button {
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #fff;
    height: 45px;
    border-radius: 20px;
    padding: 0 20px;
    margin-top: 70px;
    margin-left: 70px;
    color: #fff;
    outline: none;
    width: 80%;
}

.submit::after {
       content: '\27a4';
       color: #333;
       line-height: 45px;
       font-size: 30px;
       height: 45px;
       width: 45px;
       border-radius: 50%;
       background: #fff;
       position: absolute;
       right: 60px;
       top: 575px;
}

.submit {
    font-size: 20px;
}

.submit:hover {
    background-color: red;
    transition: 1s;
}

.sign-up a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 5px;
    text-align: center;
}

#text-box {
    width: 80%;
    height: 80px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 2px;
}

#check-box {
    margin-top: 10px !important;
    margin-bottom: 10px;
}

#text {
    color: #fff;
    font-size: 30px;
}

.sign-up form a, #login-button {
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #fff;
    height: 45px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 70px;
    color: #fff;
    outline: none;
    width: 80%;
    font-size: 30px;
}

.sign-up {
    transform: rotateY(180deg);
}


#New:hover {
    color: black;
    background-color: #fff;
}

#login-button {
    margin-top: 30px;
}

.modal {
    position: absolute;
    top: 0;
    font-size: 20px;
    width: 45%;
    text-align: justify;
    color: black;
    border: 1px solid black;
    z-index: 1000px;
    margin-left: 500px;
}

.modal .modal-header {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    justify-content: space-between;
    color: #fff;
    background-color: rgb(90, 89, 89) !important;
}

.modal .modal-body {
    display: flex;
    padding: 10px 15px;
    text-align: center ;
    background-color: #fff;

    & p {
        font-size: 25px;
    }
}

.modal .modal-footer {
    display: flex;
    padding: 10px 15px;
    color: #fff;
    background-color: rgb(90, 89, 89) !important;
}

.modal .modal-footer a{
     font-size: 20px;
     padding: 10px 25px;
     border-radius: 5px;
     background-color: #f5168d;
     color: #fff;
     outline: 0;
     border: none;
     font-weight: bold;
}

.modal .modal-header button {
    background-color: #fff;
    border: 2px solid black; 
    border-radius: 50%;
    padding: 10px 15px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

footer {
    background-color: #24262b;
    padding: 70px 0;
    box-sizing: border-box;
}

footer .container-2 {
   width: 1470px;
   margin: auto
}

footer ul {
    list-style: none;
}

.container-2 .row {
    display: flex !important;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 25px;
}

.footer-col p {
    color: #fff;
    font-size: 20px;
}

.footer-col h4 {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #ffffff;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    text-transform: capitalize;
    
}

.footer-col ul li a:hover {
    padding-left: 10px;
    color: #f5168d;
    transition: all 0.5s ease;
}

.footer-col .social-links a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}